
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff6613;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.heady button{
  background-color: #FF0000;
      color: #ffffff;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 1900px;
      margin-top: 20px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
    
}

.heady h1 {
  padding-bottom: 20px;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
}
.iframe{
  margin-right:500px;
}

.photo {
  height: 400px;
  background-image: url; 
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  text-align: center;
}

.location {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location h2 {
  margin-top: 0;
}

.location p {
  margin-bottom: 0;
}

.location .address {
  margin-top: 10px;
  text-align: center;
}

.location .phone {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
